<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <%-include('partials/head')%>
    
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-item-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod nisi unde quisquam itaque distinctio quaerat, numquam illo qui hic corrupti deleniti earum similique, dolores soluta, vitae doloremque dolorum ex id accusamus dolor asperiores autem aliquid eum aliquam. Quo necessitatibus praesentium cupiditate voluptatum? Nobis ut aperiam ab officia natus repellat deleniti placeat facilis sapiente, vel ea odio nostrum fugit neque sit cumque commodi fuga veritatis explicabo obcaecati est? Nam illum eos vel ipsum temporibus quaerat. Rerum fugiat nihil dolores odio architecto iusto soluta eius nisi odit voluptatum sequi, beatae veritatis libero laudantium rem necessitatibus debitis est labore cumque? Explicabo quam officia deserunt exercitationem fugiat optio, sed labore sint ducimus libero quisquam neque quo saepe facilis placeat? Doloremque fugiat dicta amet, temporibus deserunt omnis odio? Excepturi ut hic laudantium id quasi porro. Nobis, nulla! Illo autem praesentium, porro corporis distinctio vel modi tempora, quasi, cumque aliquid atque. Consectetur harum eligendi animi ad, odit ex vitae nisi neque minima impedit saepe incidunt eius placeat esse earum iure blanditiis a perferendis! Sed blanditiis consectetur porro nostrum. Tempore, necessitatibus molestias. Maxime sapiente modi suscipit dolor sit voluptatum, beatae ea cum temporibus maiores. Saepe non rem, dolore aspernatur ut hic animi reiciendis corporis aliquam explicabo maxime?</p>
        </section>
    </main>
    
</body>
</html>