<footer>
    <h1>Lorem, ipsum dolor.</h1> 
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil iste obcaecati porro exercitationem tempore commodi! Laborum, obcaecati. Pariatur deleniti nulla accusantium nisi, dolores dolorem atque vero tempore eaque? Dolores, at. Odio similique earum deserunt ipsum at magnam! Minus vero debitis quaerat, dolorum nihil non possimus, nostrum quasi sunt facere rem ipsam quo quis fugiat nemo alias velit consectetur totam inventore provident magnam tempore dolor itaque! Porro laudantium expedita quos ratione ipsum id perspiciatis consequatur ex, provident deserunt inventore voluptatibus fugit. Provident accusamus ipsam quidem laboriosam, perferendis praesentium magnam eligendi! Adipisci, repellat iste quae dolor reiciendis cumque eaque neque sunt voluptates.</p>
    
</footer>